<header  class="header_wrap fixed-top header_with_topbar">
    <div  class="bottom_header dark_skin main_menu_uppercase">
        <div  class="container mt-4">
            <nav  class="navbar navbar-expand-lg">
                <a 
                    routerlink="/" class="navbar-brand" ng-reflect-router-link="/" href="/">
                    <h2 >Yilmi Market</h2>
                </a>
                <button id="menu-btns" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" class="navbar-toggler ">
                    <span class="ion-android-menu"></span>
                </button>
                <div id="navbarSupportedContent" id="hamburger-menu" class="navbar-collapse collapse" style="margin-left: 10rem;">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path("app_home")}}">Accueil
                                <span class="visually-hidden"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_shop')}}">Boutique
                            </a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nouveauté 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact')}}">Contact
                            </a>
                        </li>
                        {% if app.user %}
                                <li class="nav-item dropdown user-name" style="">
                                    <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="ti-user">  
                                            {{ app.user.firstName }}
                                        </i>  
                                    </a>
                                    <div class="dropdown-menu bg-light">
                                        <a class="dropdown-item" href="{{path('app_account')}}">Mon Compte</a>
                                        <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/admin">Administration</a>
                                            <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path("app_login")}}">Connexion
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_register')}}">Inscription
                                    </a>
                                </li>
                            {% endif %}				
                    </ul>
                </div> 
                <ul class="navbar-nav attr-nav align-items-center">
                    <li>
                        <a href="javascript:void(0);" class="nav-link search_trigger">
                            <i class="linearicons-magnifier"></i>
                        </a>
                        <div class="search_wrap">
                            <span class="close-search"><i class="ion-ios-close-empty"></i></span>
                            <form>
                                <input type="text" placeholder="Search" class="form-control" id="search_input">
                                <button type="submit" class="search_icon"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        <div class="search_overlay"></div>
                    </li>
                    <li>
                        <a class="text-decoration-none" href="{{ path('app_wishList')}}">
                            <i class="icon-heart style-none"></i>
                        </a>
                    </li>
                    <li class="dropdown cart_dropdown">
                        <a class="nav-link cart_trigger" id="cart-btn" href="#" data-toggle="dropdown">
                            <i class="linearicons-cart"></i>
                            <span class="cart_count">
                            </span>
                        </a>
                        {% if app.request.pathinfo != '/panier' and app.request.pathinfo != '/caisse' %}
                        <div class="cart_box dropdown-menu dropdown-menu-right bg-light">
                            <ul class="cart_list">
                                <div id="cart-data" 
                                    data-delete-path="{{ path('app_delete_to_cart', {'id': 'element.product.id'}) }}" 
                                    data-add-path="{{ path('app_add_to_cart', {'id': 'element.product.id'}) }}" 
                                    data-delete-all-path="{{ path('app_cart_delete_all', {'id': 'element.product.id'}) }}">
                                </div>
                            </ul>
                                <div class="cart_footer">
                                    <p class="cart_total text-dark">
                                        <strong>Sous Total HT:</strong> 
                                        <span class="cart_price"> 
                                            <span class="price_symbole"></span>
                                        </span>
                                        <span class="cart_price_value"></span>
                                    </p>
                                    <p class="cart_total text-dark">
                                        <strong>TVA:</strong> 
                                        <span class="cart_price"> 
                                            <span class="price_symbole"></span>
                                        </span>
                                        <span class="cart_price_taxe"></span>
                                    </p>
                                    <p class="cart_total text-dark">
                                        <strong>Total TTC:</strong> 
                                        <span class="cart_price"> 
                                            <span class="price_symbole"></span>
                                        </span>
                                        <span class="cart_price_ttc"></span>
                                    </p>
                                    <p class="cart_buttons">
                                        {# <a href="{{ path('app_cart')}}" class="btn btn-fill-line rounded-0 view-cart">View Cart</a> #}
                                        <a href="{{ path('app_checkout')}}" class="btn btn-fill-out rounded-0 checkout">JE VALIDE MON PANIER</a>
                                    </p>
                                </div>
                        </div>
                    </li> 
                    {% endif %}
                </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
