{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    <div class="">
        <div class="m-4">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row shop_container">
                            {% if not products %}
                                <p>Désolé, aucun produit ne correspond au résultat de votre recherche</p>
                            {% endif %}
                            {% for product in products %}
                                    {% include "partials/_product.html.twig" with {'product':product} %}
                            {% endfor %}
                    </div>
                </div>
            <div class="col-lg-2 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sidebar">
{{ form_start(search) }}
<div class="widget">
    <h5 class="widget_title">Rechercher</h5>
    <div class="scrollable-checkbox">
        {{ form_row(search.string) }}
    </div>
</div>
<div class="widget">
    <h5 class="widget_title">Categories</h5>
    <div class="scrollable-checkbox">
        {{ form_row(search.categories) }}
    </div>
</div>

<div class="widget">
    <h5 class="widget_title">Price</h5>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(search.minPrice) }}
        </div>
        <div class="col-md-6">
            {{ form_row(search.maxPrice) }}
        </div>
    </div>
</div>
<button class="btn btn-border-fill btn-block">Search</button>
{{ form_end(search) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# {% block javascripts %}
    {# <script>
        $(document).ready(function(){
            $('.js-categories-multiple').select2();
        });
    </script> 
{% endblock %} #}
