{# {% extends 'base.html.twig' %}

{% block title %}Amanoz Caisse{% endblock %}

{% block scriptStripe %}
 <script src="https://js.stripe.com/v3/"></script>
 <style>
    .payment-method {
        margin-bottom: 20px;
    }
    .payment-method input {
        display: none;
    }
    .payment-method label {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    .payment-method input:checked + .labut {
        background-color: #f1f9ff;
    }
    .labut {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    .payment-method svg {
        width: 40px;
        height: auto;
        margin-left: auto;
    }
    .payment-method h3 {
        margin: 0;
        font-size: 16px;
    }
    .payment-method .payment-fee {
        font-size: 14px;
        color: #28a745;
        margin-left: 10px;
    }
    .checkout-strip-button {
        display: flex;
        flex-direction: block;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="section main_content" data-stripe_public_Key="{{stripe_public_Key}}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading_s1">
                    <h4>Vérifier votre Adresse de Livraison</h4>
                    <div class="content" id="carrier">
                        {{ address | replace({'[spr]': '<br>'}) | raw }}
                        <a href="{{ path('app_address_edit', {'id': address.id}) }}" class="btn btn-fill-out mt-1">Modifier l'adresse</a>
                        <a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Changer l'adresse</a>
                    </div>
                </div>
                <div class="heading_s1">
                    <h4>Vérifier Livraison</h4>
                    <div class="content" id="carrier">
                        {{ carrier | replace({'[spr]': '<br>'}) | raw }}
                        <a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Changer le livreur</a>
                    </div>
                </div>
                {% if information %}
                    <div class="heading_s1">
                        <h4>Vérifier l'information</h4>
                        <div class="form-group mb-0" id="informations">
                            {{ information }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Vos commandes</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for element in cart.products %}
                                    <tr>
                                        <td>{{ element.product.name }} <span class="product-qty">x {{ element.quantity }}</span></td>
                                        <td>{{ (element.product.price/100) | number_format(2, '.', ',') }} €</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Sous Total HT</th>
                                    <td class="product-subtotal"> {{ cart.data.subTotalHT | number_format(2, '.', ',') }} €</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal"> {{ cart.data.Taxe | number_format(2, '.', ',') }} €</td>
                                </tr>
                                <tr>
                                    <th>Expédition({{ carrier.name }})</th>
                                    <td class="product-subtotal"> {{ carrier.price/100 | number_format(2, '.', ',') }} €</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                   <td class="product-subtotal"> {{ (cart.data.subTotalTTC + carrier.price/100) | number_format(2, '.', ',') }} €</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Méthode de paiement : </h4>
                        </div>
                        <form>
                            <div class="payment-method mb-3">
                                <input type="radio" id="payment-card" name="paymentMethod" value="card" checked onclick="showDetails('stripe')">
                                <div class="labut">
                                    <label for="payment-card">
                                        <div>
                                            <h3>Carte de crédit / carte de débit</h3>
                                            <div id="stripe-payment-fee" class="payment-fee" style="display: none;">Vous êtes redirigé(e) vers Stripe pour terminer votre paiement.</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 26" role="img" aria-hidden="true">
                                            <rect width="32" height="21" x="5" y="2" fill="#2800A0" rx="3"></rect>
                                            <rect width="26" height="3" x="8" y="16" fill="#fff" rx="1"></rect>
                                            <rect width="5" height="5" x="8" y="5" fill="#fff" rx="1"></rect>
                                        </svg>
                                    </label>
                                    <div id="stripe-checkout-button" class="d-flex justify-content-center" style="display: none;">
                                        <button type="button" id="checkout-stripe-button" class="btn btn-fill-out d-none">
                                            Payer | {{ (cart.data.subTotalTTC + carrier.price/100) | number_format(2, '.', ',')}} €
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="payment-method mb-3">
                                <input type="radio" id="payment-paypal" name="paymentMethod" value="paypal" onclick="showDetails('paypal')">
                                <div class="labut">
                                    <label for="payment-paypal">
                                        <div>
                                            <h3>PayPal</h3>
                                            <div id="paypal-payment-fee" class="payment-fee" style="display: none;">Vous êtes redirigé(e) vers PayPal pour terminer votre paiement.</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 26" role="img" aria-hidden="true">
                                            <path fill="#fff" d="M0 0h40v26H0z"></path>
                                            <path fill="#003086" d="M25.36 5.36c-.84-.95-2.34-1.35-4.27-1.35H15.5a.8.8 0 0 0-.79.67L12.4 19.44a.48.48 0 0 0 .47.56h3.45l.87-5.5-.03.17a.8.8 0 0 1 .79-.67h1.64c3.22 0 5.74-1.31 6.48-5.1l.05-.32a3.57 3.57 0 0 0-.75-3.22"></path>
                                            <path fill="#009bdd" d="m26.11 8.58-.05.32c-.74 3.79-3.26 5.1-6.48 5.1h-1.64a.8.8 0 0 0-.79.67L16.31 20l-.24 1.5a.42.42 0 0 0 .42.5h2.9a.7.7 0 0 0 .7-.6l.02-.15.55-3.47.04-.2a.7.7 0 0 1 .69-.58h.43c2.82 0 5.03-1.15 5.67-4.46a3.8 3.8 0 0 0-.58-3.35 2.78 2.78 0 0 0-.8-.61"></path>
                                        </svg>
                                    </label>
                                    <div id="paypal-checkout-button" class="d-flex justify-content-center" style="display: none;">
                                        <button type="button" id="checkout-paypal-button" class="btn btn-fill-out d-none">
                                            Payer | {{ (cart.data.subTotalTTC + carrier.price/100) | number_format(2, '.', ',')}} €
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    function showDetails(method) {
        // Hide all payment fees and buttons
        document.getElementById('stripe-payment-fee').style.display = 'none';
        document.getElementById('stripe-checkout-button').style.display = 'none';
        document.getElementById('paypal-payment-fee').style.display = 'none';
        document.getElementById('paypal-checkout-button').style.display = 'none';

        // Hide all buttons by default
        document.getElementById('checkout-stripe-button').classList.add('d-none');
        document.getElementById('checkout-paypal-button').classList.add('d-none');

        // Show the selected payment method's details
        if (method === 'stripe') {
            document.getElementById('stripe-payment-fee').style.display = 'block';
            document.getElementById('stripe-checkout-button').style.display = 'flex';
            document.getElementById('checkout-stripe-button').classList.remove('d-none');
        } else if (method === 'paypal') {
            document.getElementById('paypal-payment-fee').style.display = 'block';
            document.getElementById('paypal-checkout-button').style.display = 'flex';
            document.getElementById('checkout-paypal-button').classList.remove('d-none');
        }
    }

    // Initially hide all payment fees and buttons
    document.addEventListener('DOMContentLoaded', function() {
        {# showDetails('stripe'); 
    });

    document.querySelectorAll('.payment-method').forEach(function(paymentMethod) {
        paymentMethod.addEventListener('click', function() {
            // Réinitialise la couleur de bordure pour tous les éléments .labut
            document.querySelectorAll('.labut').forEach(function(labut) {
                labut.style.borderColor = '';
            });

            // Applique la couleur de bordure à l'élément .labut associé à l'input:checked
            document.querySelectorAll('.payment-method input:checked + .labut').forEach(function(labut) {
                labut.style.borderColor = '#E439A1';
            });
        });
    });


    const main_content = document.querySelector('.main_content');
    const stripe_public_key = main_content?.dataset?.stripe_public_key || ""


    const stripe = Stripe(stripe_public_key);



    {# var stripe = Stripe('pk_test_51NKYgcB8m10ZC3XdY1MjpOVXjljPmAVUSImix36u8UK01qfX3BeoXf2hfqAXmdOWYiHv5U9ioFEz8DlzejFfjWhg00dg4lqGOe'); 
    var checkoutButton = document.getElementById("checkout-stripe-button");
    checkoutButton.addEventListener("click", function () {
        fetch("/commande/creation-session/{{ reference }}", {
            method: "POST",
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });        
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });
</script>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Amanoz Caisse{% endblock %}

{% block scriptStripe %}
<script src="https://www.paypal.com/sdk/js?client-id={{paypal_public_Key}}&currency=EUR"></script>
 <script src="https://js.stripe.com/v3/"></script>
 <style>
    .payment-method {
        margin-bottom: 20px;
    }
    .payment-method input {
        display: none;
    }
    .payment-method label {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    .payment-method input:checked + .labut {
        background-color: #f1f9ff;
    }
    .labut {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    .payment-method svg {
        width: 40px;
        height: auto;
        margin-left: auto;
    }
    .payment-method h3 {
        margin: 0;
        font-size: 16px;
    }
    .payment-method .payment-fee {
        font-size: 14px;
        color: #28a745;
        margin-left: 10px;
    }
    .checkout-strip-button {
        display: flex;
        flex-direction: block;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="section main_content" 
data-stripe_public_Key="{{stripe_public_Key}}"
data-paypal_public_Key="{{paypal_public_Key}}"
data-reference="{{reference}}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading_s1">
                    <h4>Vérifier votre Adresse de Livraison</h4>
                    <div class="content" id="carrier">
                        {{ address | replace({'[spr]': '<br>'}) | raw }}
                        <a href="{{ path('app_address_edit', {'id': address.id}) }}" class="btn btn-fill-out mt-1">Modifier l'adresse</a>
                        <a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Changer l'adresse</a>
                    </div>
                </div>
                <div class="heading_s1">
                    <h4>Vérifier Livraison</h4>
                    <div class="content" id="carrier">
                        {{ carrier | replace({'[spr]': '<br>'}) | raw }}
                        <a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Changer le livreur</a>
                    </div>
                </div>
                {% if information %}
                    <div class="heading_s1">
                        <h4>Vérifier l'information</h4>
                        <div class="form-group mb-0" id="informations">
                            {{ information }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Vos commandes</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for element in cart.products %}
                                    <tr>
                                        <td>{{ element.product.name }} <span class="product-qty">x {{ element.quantity }}</span></td>
                                        <td>{{ (element.product.price/100) | number_format(2, '.', ',') }} €</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Sous Total HT</th>
                                    <td class="product-subtotal"> {{ cart.data.subTotalHT | number_format(2, '.', ',') }} €</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal"> {{ cart.data.Taxe | number_format(2, '.', ',') }} €</td>
                                </tr>
                                <tr>
                                    <th>Expédition({{ carrier.name }})</th>
                                    <td class="product-subtotal"> {{ carrier.price/100 | number_format(2, '.', ',') }} €</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                   <td class="product-subtotal"> {{ (cart.data.subTotalTTC + carrier.price/100) | number_format(2, '.', ',') }} €</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Méthode de paiement : </h4>
                        </div>
                        <form>
                            <div class="payment-method mb-3">
                                <input type="radio" id="payment-card" name="paymentMethod" value="card" checked onclick="showDetails('stripe')">
                                <div class="labut">
                                    <label for="payment-card">
                                        <div>
                                            <h3>Carte de crédit / carte de débit</h3>
                                            <div id="stripe-payment-fee" class="payment-fee" style="display: none;">Vous êtes redirigé(e) vers Stripe pour terminer votre paiement.</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 26" role="img" aria-hidden="true">
                                            <rect width="32" height="21" x="5" y="2" fill="#2800A0" rx="3"></rect>
                                            <rect width="26" height="3" x="8" y="16" fill="#fff" rx="1"></rect>
                                            <rect width="5" height="5" x="8" y="5" fill="#fff" rx="1"></rect>
                                        </svg>
                                    </label>
                                    <div id="stripe-checkout-button" class="d-flex justify-content-center" style="display: none;">
                                        <button type="button" id="checkout-stripe-button" class="btn btn-fill-out d-none">
                                            Payer | {{ (cart.data.subTotalTTC + carrier.price/100) | number_format(2, '.', ',')}} €
                                        </button>
                                    </div>
                                </div>
                            </div>

                          <div class="payment-method mb-3">
                            <input type="radio" id="payment-paypal" name="paymentMethod" value="paypal" onclick="showDetails('paypal')">
                            <div class="labut">
                                <label for="payment-paypal">
                                    <div>
                                        <h3>PayPal</h3>
                                        <div id="paypal-payment-fee" class="payment-fee" style="display: none;">Vous êtes redirigé(e) vers PayPal pour terminer votre paiement.</div>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 26" role="img" aria-hidden="true">
                                        <path fill="#fff" d="M0 0h40v26H0z"></path>
                                        <path fill="#003086" d="M25.36 5.36c-.84-.95-2.34-1.35-4.27-1.35H15.5a.8.8 0 0 0-.79.67L12.4 19.44a.48.48 0 0 0 .47.56h3.45l.87-5.5-.03.17a.8.8 0 0 1 .79-.67h1.64c3.22 0 5.74-1.31 6.48-5.1l.05-.32a3.57 3.57 0 0 0-.75-3.22"></path>
                                        <path fill="#009bdd" d="m26.11 8.58-.05.32c-.74 3.79-3.26 5.1-6.48 5.1h-1.64a.8.8 0 0 0-.79.67L16.31 20l-.24 1.5a.42.42 0 0 0 .42.5h2.9a.7.7 0 0 0 .7-.6l.02-.15.55-3.47.04-.2a.7.7 0 0 1 .69-.58h.43c2.82 0 5.03-1.15 5.67-4.46a3.8 3.8 0 0 0-.58-3.35 2.78 2.78 0 0 0-.8-.61"></path>
                                    </svg>
                                </label>
                                <div id="paypal-button-container" class="d-none"></div>
                                <p id="result-message"></p>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    function showDetails(method) {
        // Hide all payment fees and buttons
        document.getElementById('stripe-payment-fee').style.display = 'none';
        document.getElementById('stripe-checkout-button').style.display = 'none';
        document.getElementById('paypal-payment-fee').style.display = 'none';
        document.getElementById('paypal-button-container').classList.add('d-none'); // Masquer le conteneur PayPal

        // Hide all buttons by default
        document.getElementById('checkout-stripe-button').classList.add('d-none');

        // Show the selected payment method's details
        if (method === 'stripe') {
            document.getElementById('stripe-payment-fee').style.display = 'block';
            document.getElementById('stripe-checkout-button').style.display = 'flex';
            document.getElementById('checkout-stripe-button').classList.remove('d-none');
        } else if (method === 'paypal') {
            document.getElementById('paypal-payment-fee').style.display = 'block';
            document.getElementById('paypal-button-container').classList.remove('d-none'); // Afficher le conteneur PayPal
        }
    }

    // Initially hide all payment fees and buttons
    document.addEventListener('DOMContentLoaded', function() {
        // showDetails('stripe'); // Initialement caché
    });

    document.querySelectorAll('.payment-method').forEach(function(paymentMethod) {
        paymentMethod.addEventListener('click', function() {
            // Réinitialise la couleur de bordure pour tous les éléments .labut
            document.querySelectorAll('.labut').forEach(function(labut) {
                labut.style.borderColor = '';
            });

            // Applique la couleur de bordure à l'élément .labut associé à l'input:checked
            document.querySelectorAll('.payment-method input:checked + .labut').forEach(function(labut) {
                labut.style.borderColor = '#E439A1';
            });
        });
    });

    const main_content = document.querySelector('.main_content');
    const stripe_public_key = main_content?.dataset?.stripe_public_key || "";
     const reference = main_content?.dataset?.reference || ""

    console.log({reference})

     const stripe = Stripe(stripe_public_key);

    var checkoutButton = document.getElementById("checkout-stripe-button");
    checkoutButton.addEventListener("click", function () {
        fetch("/commande/creation-session/{{ reference }}", {
            method: "POST",
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });        
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });
</script>








 <script>
        // paypal
        window.paypal
            .Buttons({
                async createOrder() {
                try {
                    const response = await fetch("/commande/creation-session/paypal/{{reference}}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    // use the "body" param to optionally pass additional order information
                    // like product ids and quantities
                    body: JSON.stringify({
                    reference,
                    }),
                    });

                    const orderData = await response.json();

                    if (orderData.id) {
                    return orderData.id;
                    } else {
                    const errorDetail = orderData?.details?.[0];
                    const errorMessage = errorDetail
                        ?`${errorDetail.issue} ${errorDetail.description} (${orderData.debug_id})`
                        : JSON.stringify(orderData);

                    throw new Error(errorMessage);
                    }
                } catch (error) {
                    console.error(error);
                    resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
                }
                },
                async onApprove(data, actions) {
                try {
                    const response = await fetch(`/api/orders/capture{{reference}}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    });

                    const orderData = await response.json();

                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you message

                    const errorDetail = orderData?.details?.[0];

                    if (errorDetail?.issue === "INSTRUMENT_DECLINED") {
                    // (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    // recoverable state, per https://developer.paypal.com/docs/checkout/standard/customize/handle-funding-failures/
                    return actions.restart();
                    } else if (errorDetail) {
                    // (2) Other non-recoverable errors -> Show a failure message
                    throw new Error(`${errorDetail.description} (${orderData.debug_id})`);
                    } else if (!orderData.purchase_units) {
                    throw new Error(JSON.stringify(orderData));
                    } else {
                    // (3) Successful transaction -> Show confirmation or thank you message
                    // Or go to another URL:  actions.redirect('thank_you.html');
                    const transaction =
                        orderData?.purchase_units?.[0]?.payments?.captures?.[0] ||
                        orderData?.purchase_units?.[0]?.payments?.authorizations?.[0];
                    window.location.href = window.location.origin+"/paypal/payment/success"
                    resultMessage(
                        `Transaction ${transaction.status}: ${transaction.id}<br><br>See console for all available details`,
                    );
                    console.log(
                        "Capture result",
                        orderData,
                        JSON.stringify(orderData, null, 2),
                    );
                    }
                } catch (error) {
                    console.error(error);
                    resultMessage(
                    `Sorry, your transaction could not be processed...<br><br>${error}`,
                    );
                }
                },
            })
            .render("#paypal-button-container");

// Example function to show a result to the user. Your site's UI library can be used instead.
function resultMessage(message) {
  const container = document.querySelector("#result-message");
  container.innerHTML = message;
}
    </script>
{% endblock %}
