{% extends 'base.html.twig' %}

{% block title %}Amanoz Caisse{% endblock %}

{% block scriptStripe %}
 <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
    {{ include('partials/_title_section.html.twig', {'name': 'Caisse'}) }}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading_s1">
                        <h4>Vérifier votre Adresse de Livraison</h4>
                        <div class="content" id="carrier">
                            {{ address | replace({'[spr]': '<br>'}) | raw }}
                            <a href="{{ path('app_address_edit', {'id': address.id}) }}" class="btn btn-fill-out mt-1">Modifier l'adresse</a>
                            <a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Changer l'adresse</a>
                        </div>
                    </div>
                    <div class="heading_s1">
                        <h4>Vérifier Livraison</h4>
                        <div class="content" id="carrier">
                            {{ carrier | replace({'[spr]': '<br>'}) | raw }}
                            <a href="{{ path('app_checkout_edit') }}" class="btn btn-fill-out mt-1">Changer le livreur</a>
                        </div>
                    </div>
                    {% if information %}
                        <div class="heading_s1">
                            <h4>Vérifier l'information</h4>
                            <div class="form-group mb-0" id="informations">
                                {{ information }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="order_review">
                        <div class="heading_s1">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for element in cart.products %}
                                        <tr>
                                            <td>{{ element.product.name }} <span class="product-qty">x {{ element.quantity }}</span></td>
                                            <td>$ {{ element.product.price/100 | number_format(2, '.', ',') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Sous Total HT</th>
                                        <td class="product-subtotal">$ {{ cart.data.subTotalHT | number_format(2, '.', ',') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Taxe</th>
                                        <td class="product-subtotal">$ {{ cart.data.Taxe | number_format(2, '.', ',') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Expédition({{ carrier.name }})</th>
                                        <td class="product-subtotal">$ {{ carrier.price/100 | number_format(2, '.', ',') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td class="product-subtotal">$ {{ cart.data.subTotalTTC | number_format(2, '.', ',') + carrier.price/100 | number_format(2, '.', ',') }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="heading_s1">
                                <h4>Payment</h4>
                                  {# <a href="{{ path ('app_stripe_create_session', {'reference': reference}) }}" class="btn btn-success btn-block mt-3" id="checkout-button">Payer | {{ ((total / 100) + (carrier.price / 100))|number_format(2, ',', '.') }} €</a> #}
                                <button type="button" id="checkout-button" class="btn btn-fill-out btn-block">
                                    Payer | $ {{ cart.data.subTotalTTC + carrier.price/100 | number_format(2, '.', ',')}}
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
     <script type="text/javascript">
       var stripe = Stripe('pk_test_51NKYgcB8m10ZC3XdY1MjpOVXjljPmAVUSImix36u8UK01qfX3BeoXf2hfqAXmdOWYiHv5U9ioFEz8DlzejFfjWhg00dg4lqGOe');
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
                fetch("/commande/creation-session/{{ reference }}", {
                    method: "POST",
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                        return stripe.redirectToCheckout({ sessionId: session.id });        
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}
