{% extends 'base.html.twig' %}

{% block title %}Amanoz Caisse{% endblock %}


{% block body %}
    {{  include ("partials/_title_section.html.twig", {'name':'Caisse'}) }}

<div class="section checkout">
	<div class="container">
        {{form_start(checkout,{action: path('app_checkout_confirm')})}}
        <div class="row">
        	<div class="col-md-6">
                <div class="heading_s1">
                        <h4>Votre Adresse de Livraison</h4>
                        <div class="content">
                            {{form_widget(checkout.address) | replace({'[spr]':'<br>'})| raw}}
                        </div>
                        <a href="{{ path('app_address_new')}}" class="btn btn-fill-out btn-block mt-1">Ajouter une nouvelle adresse</a>
                </div>
                <div class="heading_s1">
                    <h4>Choisir Livraison</h4>
                    <div class="content">
                         {{form_widget(checkout.carrier) | replace({'[spr]':'<br>'})| raw}}
                    </div>
                </div>
                <div class="heading_s1">
                    <h4>Additional information</h4>
                    <div class="form-group mb-0">
                        {{form_widget(checkout.information)}}
                    </div>
                </div>
          </div>

          <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for element in cart.products %}
                                        <tr>
                                        <td> {{element.product.name}} <span class="product-qty"> x {{element.quantity}}</span></td>
                                        <td> {{(element.product.price/100)|number_format (2, '.', ',')}}€</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SubTotal HT</th>
                                    <td class="product-subtotal"> {{cart.data.subTotalHT | number_format(2, '.', ',')}}€</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal"> {{cart.data.Taxe | number_format(2, '.', ',')}}€</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal">  {{cart.data.subTotalTTC | number_format(2, '.', ',')}}€</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Payment</h4>
                        </div>

                    </div>
                    <button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">Confirmer la commande</button>
                </div>
          </div>
        </div>
        {{form_end(checkout)}}
    </div>
</div>

{% endblock %}